%h1 ソラニワデータ小屋
%p
  このサイトでは
  %a{:href => "http://st.x0.to/", :target => "_blank"} ソラニワ -Stroll Green-
  を解析して得られる情報を扱っています。
%br
%p= top_date_text(@latest_created, @uploaded_created)

.card.top
  .card-body
    %h2 サイトマップ
    .row
      .col-md-6
        %ul
          %li 個人データ
          %ul  
            %li= link_to "ステータス一覧", statuses_path
            %li= link_to "設定スキル一覧", skills_path
      .col-md-6
        %ul
          %li 結果データ
          %ul  
            %li= link_to "結果一覧", aps_path

.card.top
  .card-body
    %h2 更新履歴
    %ul
      %li 2019/7/30
      %ul
        %li
          = link_to "設定スキル一覧", skills_path
          にステータス、メインタイプでの絞り込み機能を追加
      %li 2019/7/28
      %ul
        %li サイト公開
