- @page_title = "設定スキル一覧"
%h1= @page_title

.card.desc
  .card-header
    - act_icon(true)
    検索仕様
    - act_desc(true)
  .card-body
    = render "layouts/base_desc"
    %p
      %span.example_select.example_toggle.pointer
        - help_icon
        入力例
        - act_desc(false)
    #example.closed
      = render "layouts/input_desc"
= search_form_for @search do |f|
  %table.search_toggle.table.table-striped.table-bordered.table-hover
    %tbody.pointer
      %tr
        %td{colspan: "5"}
          - act_icon(true)
          絞り込み検索
          - act_desc(true)
    %tbody
      %tr
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "ENo", params_name: "e_no_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formText", label: "キャラクター名", params_name: "pc_name_form", placeholder: "Name")
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "スキル名", params_name: "skill_form", placeholder: "Skill", colspan: 3)
      %tr.sep
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "タイプ", params_name: "type_form", placeholder: "Type")
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "性質", params_name: "nature_form", placeholder: "Nature")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "発動条件", params_name: "timing_form", placeholder: "Timing")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "発動数", params_name: "use_number_form")
      %tr.sep
        %td.indent
        - td_date_between_form(f, @form_params, @placeholder, class_name: nil,  label: "取得日", params_name: "created_at", data_target: "date", placeholder: nil, colspan: 3)

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_skill_text",
                    label: {open: "スキル詳細を表示する", close: "スキル詳細を表示しない"},
                    act_desc: "消費コスト、説明", base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "消費コスト", params_name: "cost_form", placeholder: "Cost")
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "説明", params_name: "skill_text_form", placeholder: "SkillText")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_status",
                    label: {open: "ステータスを表示する", close: "ステータスを表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "STR", params_name: "str_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "MAG", params_name: "mag_form", placeholder: "Number")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "AGI", params_name: "agi_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "VIT", params_name: "vit_form", placeholder: "Number")
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "DEX", params_name: "dex_form", placeholder: "Number")
        - td_form(f, @form_params, @placeholder, class_name: "formNum",  label: "MNT", params_name: "mnt_form", placeholder: "Number")

    - #==========================================================================================================================
    - tbody_toggle(@form_params, params_name: "show_status_type",
                    label: {open: "メインタイプを表示する", close: "メインタイプを表示しない"}, base_first: false)
    %tbody.closed
      %tr
        %td.indent
        - td_form(f, @form_params, @placeholder, class_name: "formText",  label: "メインタイプ", params_name: "status_type_form", placeholder: "Type", colspan: 3)

    - #==========================================================================================================================
    %tbody
      %tr.sep
        %td.indent
        %td.indent= hidden_field_tag :is_form, 1
        %td{colspan: "3"}
          - search_submit_button


= paginate(@skills)
%br
ヒット数：#{ @count }件
%br
%br

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= sort_link(@search, :e_no,"キャラクター(ENo)", default_order: :desc)
      %th.sep= sort_link(@search, :set_no, "No", default_order: :desc)
      %th.sep= sort_link(@search, :type_id, "タイプ", default_order: :desc)
      %th= sort_link(@search, :nature_id, "性質", default_order: :desc)
      %th= sort_link(@search, :skill_id, "スキル名", default_order: :desc)
      %th.sep= sort_link(@search, :timing_id, "発動条件", default_order: :desc)
      %th= sort_link(@search, :use_number, "発動数", default_order: :desc)
      - if @form_params["show_skill_text"] == "1"
        %th.sep= sort_link(@search, :skill_cost_id, "コスト", default_order: :desc)
        %th= sort_link(@search, :skill_text, "説明", default_order: :desc)
      - if @form_params["show_status"] == "1"
        %th.sep= sort_link(@search, :str, "STR", default_order: :desc)
        %th= sort_link(@search, :mag, "MAG", default_order: :desc)
        %th= sort_link(@search, :agi, "AGI", default_order: :desc)
        %th= sort_link(@search, :vit, "VIT", default_order: :desc)
        %th= sort_link(@search, :dex, "DEX", default_order: :desc)
        %th= sort_link(@search, :mnt, "MNT", default_order: :desc)
      - if @form_params["show_status_type"] == "1"
        %th.sep= sort_link(@search, :type_id, "メインタイプ", default_order: :desc)
      %th.sep= sort_link(@search, :created_at, "取得日", default_order: :desc)
      %th.sep{colspan: "2"} 結果リンク
  %tbody
    - @skills.each do |skill|
      %tr
        %td= pc_name_text(skill.e_no, skill.pc_name)
        %td.sep= skill.set_no
        %td{style: "#{ type_border(skill) }" }= skill.type.name if skill.type
        %td= skill.nature.name if skill.nature
        %td= skill.skill.name if skill.skill
        %td.sep= skill.timing.name if skill.timing
        %td
          = skill.use_number if skill.use_number < 9999
          = "∞" if skill.use_number == 9999
        - if @form_params["show_skill_text"] == "1"
          %td.sep= skill.skill.cost.name if skill.skill && skill.skill.cost
          %td= skill.skill.text if skill.skill
        - if @form_params["show_status"] == "1"
          %td.sep= skill.status.str if skill.status
          %td= skill.status.mag if skill.status
          %td= skill.status.agi if skill.status
          %td= skill.status.vit if skill.status
          %td= skill.status.dex if skill.status
          %td= skill.status.mnt if skill.status
        - if @form_params["show_status_type"] == "1"
          %td{style: "#{ type_border(skill.status) }" }= skill.status.type.name if skill.status && skill.status.type
        %td.sep= skill.created_at.to_s(:jp_date)
        %td.sep= character_link(skill.e_no)
= paginate(@skills)
